<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title ng-bind="pageTitle">SNCF Open Data | Transilien</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
    <link type="image/x-icon" href="img/favicon.ico" />

    <!-- CSS EXTERNAL -->
    <link rel="stylesheet" href="libs/material-design-lite/material.min.css">
    <link rel="stylesheet" href="libs/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="libs/md-steppers/dist/md-steppers.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700" type="text/css">

    <!-- JS EXTERNAL -->
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="libs/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="libs/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="libs/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="libs/material-design-lite/material.min.js"></script>
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/md-steppers/dist/md-steppers.min.js"></script>
    <script type="text/javascript" src="libs/angular-scroll-glue/src/scrollglue.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.0.8/i18n/angular-locale_fr-fr.js"></script>
    <script type="text/javascript" src="libs/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="libs/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="libs/angular-base64/angular-base64.min.js"></script>

    <!-- CSS INTERNAL -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- JS INTERNAL -->
    <script type="text/javascript" src="js/stations.js"></script>

    <!-- CONTROLLERS -->
    <script type="text/javascript" src="application.js"></script>
    <script type="text/javascript" src="config/application.client.routes.js"></script>
    <script type="text/javascript" src="controllers/bot.client.controller.js"></script>

    <!-- DIRECTIVES -->
    <script type="text/javascript" src="directives/ngenter.client.directive.js"></script>
    <script type="text/javascript" src="directives/clickeddisable.client.directive.js"></script>

</head>
<body ng-app="mean" ng-cloak layout="column" ng-keydown="handleKeydown($event)">

    <main id="mainView" class="mdl-layout__content" ng-view flex layout="row">
        <!-- Content -->
    </main>

    <div id="toast" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
</body>
</html>

